[Unit]
Description=llama Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/llama.cpp
ExecStart=/opt/llama.cpp/llama-server -m /opt/llama.cpp/Models/Qwen3.6-35B-A3B-Uncensored-HauhauCS-Aggressive-Q4_K_M.gguf --n-gpu-layers 200 --host 0.0.0.0 --port 8080 -c 60000 -t 6 --rpc 10.0.1.27:4000,10.0.1.76:4000,10.0.1.24:4000,10.0.1.206:4000
Restart=always

[Install]
WantedBy=multi-user.target
